body {
    font-family: Roboto;
}

img {
    max-width:400px;
}

.header,.upper,.second,.third,.fourth,.footer{
    padding-left:500px;
    padding-right:500px;
    min-width: 400px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
    flex: 1 1 0;
    /*padding-left: 120px;
    padding-right: 120px;*/
    min-width: 400px;
}

.logo{
    font-size: 24px;
}

.upper {
    display:flex;
    background-color:#1F2937;
    justify-content: space-between;
    gap: 40px;
    /*padding-right:120px;
    padding-left: 120px;*/
    padding-top:20px;
    padding-bottom:100px;
    flex: 1 1 0;
    min-width: 400px;
}

.left{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.right {
    display:flex;
    align-items: center;
}

.text{
    font-size: 18px;
    color:#E5E7EB;

}

.headphones {
    max-width:400px;
}

li {
    a:link {text-decoration: none};
    a{color:#F9FAF8};
    font-size: 18px;
    list-style-type: none;
    display: inline;
    margin:8px;
}

h1 {
    font-weight:600px;
    font-size: 48px;
    color: #F9FAF8;
    margin-bottom: 0px;
}

.sign-top {
    background-color: #3882F6;
    color:#E5E7EB;
    border-radius: 8px;
    border: 0;
    font-weight: bold;
    font-size:18px;
    padding-top:8px;
    padding-bottom: 8px;
    width: 135px;
    margin-top:12px;
    margin-left:0px;
}




.second {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 0;
    flex-wrap: wrap;
    padding-bottom: 80px;
}

.info{
    display:flex;
    justify-content: center;
    width:auto;
    font-size: 36px;
    font-weight: 600px;
    color:#1F2937
}


.images {
    display:flex;
    justify-content: space-between;
    min-width: auto;
    flex: 1 1 200px;
    gap:40px;
    /*padding-left: 200px;
    padding-right: 200px;*/
    
}

.cat,.coffee,.sunset,.tea{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1 1 250px;
    flex-wrap: wrap;
}

.ic, .ico, .is, .it {
    border:4px solid #3882f6;
    border-radius: 8px;
    max-height: 150px;
    flex:1;

}

.ht,.ct,.st,.tt {
    display: flex;
    flex: 1 1 auto;
}

.third{
    background:#E5E7EB;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
    padding-top: 50px;
    padding-bottom: 50px;
   /* padding-left: 200px;
    padding-right: 200px;*/
}

.quote{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    display: flex;
    padding:8px;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
    flex: 1 1 100%;
}

.reference{
    display:flex;
    flex-direction: row;
    flex: 1 1 100%;
    justify-content: end;
    margin-top: 0px;
    padding-right:60px;
}


.fourth{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;

}

.box{
    display: flex;
    background-color: #3882F6;
    color: #E5E7EB;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    padding-top:18px;
    padding-bottom:18px;
    padding-left: 94px;
    padding-right: 94px;
    margin-left:120px;
    margin-right: 120px;
    flex: 1 0 0;
    min-width: 400px;
    gap: 18px;

}

.bl{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:0;
}

.call{
    margin-bottom: 0px;

}

.sign{
    margin-top:0px;

}

.br {
    display: flex;
    align-items: center;

}

.register{
    border-radius: 8px;
    background-color: #3882F6;
    color:#E5E7EB;
    font-size: 18px;
    font-weight: bold;
    border:solid #E5E7EB 2px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 24px;
    padding-right: 24px;
    width: 140px;
}

.footer{
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;

}

.cr{
    color:#E5E7EB;
    padding-top: 12px;
    padding-bottom: 12px;
}